{% extends "../layouts/layout.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">

			<h3>Tentang Kami</h3>
<hr />
<p>
<img class="responsive-img" src="cc/images/CEO.png" width="150px"/>
<div class="flow-text">
<b>Cahaya Communication</b> adalah badan usaha yang Kami dirikan pada tahun 2010

yang didirikan oleh bapak Sunarto, dan kami fokus dalam menyediakan jasa installasi, troubleshoot semua perangkat komunikasi.

dan setiap project kami kerjakan dengan sikap profesionalisme.

Cahaya Communication saat ini di motori bapak Sunarto sebagai CEO di tangan beliau Cahaya Communication dapat memberikan pelayanan yang terbaik.
</p>
<hr>
	</div>
</div>
</div>
</div>
{% endblock %}
